<header>
    <div class="heading-primary">
        <img src="/images/weather.png" alt="logo">
        <h1>Weather App</h1>
    </div>
    <div class="heading-sub">Get the latest weather details</div>
</header>